<!doctype html>
<html>
  <head>
    <%= partial "includes/head" %>
  </head>
  <body>
    <%= partial "includes/navigation" %>

    <div class="container">
      <div id="main" role="main">
        <%= yield %>
      </div>
      <%= partial "includes/footer" %>
    </div>

    <%= partial "includes/css" %>

    <%= partial "includes/ga" %>
    <%= partial "includes/sw" %>
  </body>
</html>
