<!-- Footer -->
<div class="bio row center-block">
  <div class="col-xs-8 col-xs-offset-2">
      <%= image_tag 'profile-small.png', :class=> "img-circle face" %>
      <h2>Tim Messerschmidt</h2>
      <p>
        Developer Relations, Web and Mobile Developer. Former PayPal &amp; Braintree.
      </p>
      <p>
        Mentored startups at various incubators &amp; accelerators, frequent speaker at events such as SXSW, Droidcon London, JSConf EU or HTML5 DevCon. <%= link_to "O'Reilly Author", "http://shop.oreilly.com/product/0636920044376.do" %>, contributor to the <%= link_to "Mobile Developers Guide to the Galaxy", "http://enough.de/en/app-coaching/devguide/" %>.
      </p>
      <p>
        Loves guitars, coffee, snowboards and cats.
      </p>
      <p>
        You can find me on <%= link_to 'Google Plus', data.social.gplus %>, <%= link_to 'GitHub', data.social.github %>, <%= link_to 'LinkedIn', data.social.linkedin %> &amp; <%= link_to 'Twitter', data.social.twitter %>.
      </p>  
  </div>
</div>
<!-- End Footer -->
