<meta charset="utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<meta name="theme-color" content="#2E3AA1">

<!-- Web Application Manifest -->
<link rel="manifest" href="<%= url_root %>/manifest.json">

<!-- Chrome on Android -->
<meta name="theme-color" content="#2E3AA1">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="PSK">
<link rel="icon" sizes="192x192" href="/public/img/chrome192x192.png">

<!-- Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="timmesserschmidt">

<link rel="apple-touch-icon" href="/public/img/apple192x192.png">
<link rel="apple-touch-icon" sizes="76x76" href="/public/img/apple76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="/public/img/apple120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="/public/img/apple152x152.png">

<!-- Windows 8 -->
<meta name="msapplication-TileColor" content="#3372DF">
<meta name="msapplication-TileImage" content="/public/img/ms144x144.png">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@seraandroid" />
<meta name="twitter:title" content="<%= truncate(title, length: 70) %>" />
<meta name="twitter:description" content="<%= truncate(description, length: 200) %>" />
<meta name="twitter:image" content="<%= image %>" />

<!-- Facebook Open Graph -->
<meta property="og:title" content="<%= title %>" />
<meta property="og:site_name" content="<%= site_title %>" />
<meta property="og:description" content="<%= truncate(description, length: 500) %>" />
<meta property="fb:app_id" content="<%= data.social.fb_app_id %>" />
<meta property="og:type" content="<%= current_article.nil? ? "website" : "article" %>" />
<meta property="og:image" content="<%= image %>" />
<meta property="og:url" content="<%= url_root + current_page.url %>" />

<title><%= title + " - " unless title.blank? %><%= site_title %></title>

<% unless current_article.nil?  %>
<meta property="article:author" content="<%= data.social.fb_profile %>" />
<% end %>

<%= favicon_tag 'favicon.ico' %>

<%= feed_tag :atom, url_root + "/feed.xml", title: "Atom Feed" %>

<script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300|Quicksand" rel="stylesheet" type="text/css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<%= javascript_include_tag 'bootstrap.min.js' %>
<%= stylesheet_link_tag 'site' %>
